@keyframes rounted{
    0%{
        transform: rotate(120deg);
    }

    50%{
        transform: rotate(240deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes showP {
    0%{
        opacity: 0;
        min-height: 0;
    }

    100%{
        min-height: auto;
        opacity: 1;
    }
}